.idea/
.vscode/
tags
assets/
*.suo
*.njsproj
*.sln
*.dat
*.xcuserstate
*.iml
*.xcscheme
*.class

*.xcbkptlist

*.xcsettings

assets

.gitattributes
backup-2017-03-23.zip
bfg-1.12.15.jar
local.properties
*.
.d
.project
.classpath
.copyignore

.DS_Store
node_modules/